@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav id="sidebar">
    <!-- Sidebar content goes here -->
    <!-- ... (Copy the content of the sidebar from your original code) -->
</nav>


